name: Deploy to HuggingFace Space

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: openclassrooms

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Hugging Face

        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USER: ${{ secrets.HF_USER }}
          HF_MAIL: ${{ secrets.HF_MAIL }}
      
        run: |
          sudo apt update
          sudo apt install -y git-lfs
          git lfs install
          pip install -U huggingface_hub
          pip install hf_xet

          echo "-------------parameters-----------------"
          echo $HF_USER
          echo "----------------------------------------"
          git config --global user.email $HF_MAIL
          git config --global user.name $HF_USER
          git clone https://github.com/$HF_USER/openclassrooms_projet05.git
          
          cd openclassrooms_projet05
          git remote add hf https://$HF_USER:$HF_TOKEN@huggingface.co/spaces/$HF_USER/openclassrooms_projets05
          git push hf main --force
          
